*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-image: linear-gradient(to right,#12c2e9, #c471ed, #f64f59);
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}

.addButton{
  position: relative;
  margin-left: 30px;
  padding: 10px 25px;
  background-color: #51196b;
  border-style: none;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
}
.addButton:before,
.addButton:after {
    width: 2em;
    height: 1.2em;
    position: absolute;
    content: "";
    display: inline-block;
    background-color: #51196b;
    border-radius: 50%;
    transition: transform .6s ease;
    transform: scale(0);
    z-index: -1;
}

.addButton:before {
    top: -12%;
    left: 20%;
}

.addButton:after {
    bottom: -12%;
    right: 20%;
}

.addButton:hover:before,
.addButton:hover:after {
    transform: none;
}

.taskList{
  width: 100%;
  text-align: center;
}
.mainForm input {
  padding: 10px 20px;
  font-size: 18px;
  border-style: none;
  border-radius: 16px;
}
